<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="DoctorProfile">
                    <match url="^([a-zA-Z0-9_-]+)/Dr-([a-zA-Z0-9_-]+)-([a-zA-Z0-9_-]+)-in-([a-zA-Z0-9_-]+)/profile.php$" />
                    <action type="Rewrite" url="profile.php?state={R:1}&amp;doctorName={R:2}&amp;specialization={R:3}&amp;district={R:4}" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
